<% provide(:title, 'About Us') %>
<%= render partial: 'shared/main_nav' %>
<style media="screen">
  .nav-item img {
    display: none;
  }
</style>
<div class="jumbotron text-center mb-1" style="background-color: #FFF !important">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 style="font-weight: 300">We make matchmaking simple and free for everyone</h1>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-info mb-0">
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 text-center" style="color:#fff;">
        <h2 class="h1 mb-4">What is Spouzz?</h2>
        <p class="essay">Spouzz is an online matrimonial platform for Indians where members can connect with and send messages to prospective partners for free. We won't charge a dime. We'll always be free. Until the end of time.</p>

        <p class="essay">We love simplicity. We strive to maintain a simple, minimal website that offers all the classic features to connect you to the right people. No clutter. No non-sense.</p>

        <p class="essay">Lastly, We're always looking to improve in small ways, and in big ways.</p>
      </div>
    </div>
  </section>
</div>
