<% provide(:title, 'About Us') %>
<%= render partial: 'shared/simple_nav' %>
<style>
p {
  font-size: 21px;
  margin-bottom: 2em;
}
</style>
<div class="jumbotron jumbotron-fluid text-center" style="background-color:#FFC107">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="color:#fff">We make matchmaking simple and free for everyone</h1>
      </div>
    </div>
  </div>
</div>
<section class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2 class="h3">Free forever</h2>
      <p class="text-muted">We won't charge you a dime to connect with others. We'll always be free. Until the end of time.</p>

      <h2 class="h3">Simple is good</h2>
      <p class="text-muted">... said Jim Henson and so does our team. No clutter. No non sense. Just straight up, elegant features to connect you to the right people.</p>

      <h2 class="h3">Continuous improvement</h2>
      <p class="text-muted">We're always looking to improve in tiny ways, and in big ways. Got feedback? <%= link_to "Let us know.", "https://www.facebook.com/spouzz", target: "_blank", title: 'Our Facebook page' %></p>
    </div>
  </div>
</section>
