<% provide(:title, 'About Us') %>
<%= render partial: 'shared/simple_nav' %>

<div class="jumbotron jumbotron-fluid text-center m-b-0 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="thin">We make matchmaking simple and free for everyone</h1>
      </div>
    </div>
  </div>
</div>
<section class="container m-t-2">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2>What's this all about?</h2>
      <p class="lead">We created Roozam with the aim of providing a simple and free space for Indians to find their partners.</p>
      <p>
        The popular matchmaking portals in the market charge exorbitant rates while the free ones are not actively maintained and are hard to navigate. We believe it is possible to provide all the matchmaking tools packaged in an elegant and easy-to-use website for free.
      </p>
      <p>
        We will keep the options of searching for, messaging, and liking Roozam members free forever.
      </p>
    </div>
  </div>
</section>
