<% provide(:title, 'About Us') %>
<%= render partial: 'shared/main_nav' %>
<style media="screen">
  .nav-item img {
    display: none;
  }
</style>
<div class="jumbotron text-center mb-1" style="background-color: #FFF !important">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h1 style="font-weight: 300">We make matchmaking simple and free for everyone</h1>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid mb-0" style="background-color: #f7f7f7 !important">
  <section class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <h2 class="h1 mb-4">What is Spouzz?</h2>
        <p class="essay">Spouzz is an online matrimonial platform for Indians that lets members connect with and send messages to prospective partners for free.</p>

        <p class="essay">We love simplicity. We strive to maintain a simple, minimal website that offers all the classic features required to connect you to the right people. No clutter. No non-sense.</p>

        <p class="essay">We're always looking to improve in small ways, and in big ways. Got feedback? Let us know.</p>
      </div>
    </div>
  </section>
</div>
