<% provide(:title, 'Find your match for free') %>
<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 text-xs-center text-lg-left">
        <h1>Matchmaking made easy</h2>
          <p class="lead">
            Joonam is the best new way to find your partner. Signing up takes a minute and is totally free<sup class="text-danger">&#9829;</sup>
          </p>
          <p>
            <%= image_tag('watermarked.png', class: 'img-fluid center-block', id: 'landing-illustration') %>
          </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <%= render partial: 'users/signup_form' %>
      </div>
    </div>
  </div>
</section>
