<% provide(:title, 'Free Matrimony - Unlimited Messages and Interests') %>
<%= render partial: 'shared/main_nav' %>
<section class="bg-white py-2">
  <div class="container">
    <div class="row row align-items-center justify-content-center">
      <div class="col-12 col-md-6">
        <p>
          <%= image_tag('couples/marathi.png', style: 'max-width: 65%;', class: 'mx-auto d-block') %>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h1 class="display-4">Spouzz lets you find your partner for free.</h1>
        <p class="lead text-secondary font-weight-normal">
          Never pay to contact members again. Send and receive <strong class="border-bottom">unlimited</strong> interests and messages for <strong class="border-bottom">free</strong>. Signing up takes only a minute.
        </p>
        <p>
          <%= link_to 'Get started now', signup_path, class: 'btn btn-success' %>
        </p>
      </div>
    </div>
  </div>
</section>
