<% provide(:title, 'Privacy Policy') %>
<%= render partial: 'shared/main_nav' %>

<nav class="bg-primary primary-breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item active">Privacy Policy</li>
    </ol>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <h1>Privacy Policy</h1>
      <p>
        This document is published in accordance with the provisions of Rule 3(1) of the Information Technology (Intermediaries Guidelines) Rules, 2011 that require the publishing of privacy policy for access or usage of www.spouzz.com (“the website”).
      </p>
      <p>This privacy policy (“Privacy Policy”) applies to both the website and the mobile application.</p>

      <p class="font-weight-bold text-uppercase">
        PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY ACCESSING OR USING THE WEBSITE AND/OR MOBILE APPLICATION, YOU AGREE TO BE BOUND BY THE TERMS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, PLEASE DO NOT USE THE WEBSITE AND/OR MOBILE APPLICATION. THIS PRIVACY POLICY SETS OUT THE LEGALLY BINDING TERMS FOR YOUR MEMBERSHIP.
      </p>

      <h2 class="h3">1. Context and Purpose</h2>
      <p>
        <strong>1.1
        </strong>
        spouzz.com is an online matrimonial portal endeavouring to provide you with matrimonial services. In order to provide the services, we ask for certain personal information which is displayed on the website. All visitors to website/mobile application may browse through the same and view any articles or features they have to offer without entering any personal information. However, in order to use the services on the website/ mobile application membership is mandatory.
      </p>

      <p>
        <strong>1.2
        </strong>
        spouzz.com recognizes the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. In this Privacy Policy, references to “you”, “your”, “user” or “member” shall mean the end user/member accessing the website/ mobile application, its contents and using the services offered through the website/mobile application. References to “we”, “us” and “our” shall mean spouzz.com, its franchisor, affiliates and partners.
      </p>

      <p>
        <strong>1.3
        </strong>
        You acknowledge that you are disclosing information voluntarily. By using the website/mobile application, you consent to the collection and use of the information provide by you on the website/mobile application in accordance with this Privacy Policy. If you do not agree for use of your information, please do not use or access this website or mobile application.
      </p>

      <p>
        <strong>1.4
        </strong>
        This Policy describes how we treat user information that we may collect through website/mobile application as well as other offline sources. This Privacy Policy applies to the visitors and members of our website/mobile application. By visiting and/or using our website/mobile application, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy.
      </p>

      <p>
        <strong>1.5
        </strong>
        The website spouzz.com is the property of Spouzz Matrimonial Services LLP.
      </p>

      <p>
        <strong>1.6
        </strong>
        BY USING THE SERVICES OR BY OTHERWISE PROVIDING US WITH YOUR INFORMATION, YOU WILL BE DEEMED TO HAVE READ, UNDERSTOOD AND AGREED TO THE PRACTICES AND POLICIES OUTLINED IN THIS PRIVACY POLICY AND AGREE TO BE BOUND BY THIS PRIVACY POLICY. YOU HEREBY CONSENT TO OUR COLLECTION, USE, SHARING AND/OR DISCLOSURE OF YOUR INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY. WE RESERVE THE RIGHT TO CHANGE, MODIFY, ADD OR DELETE PORTIONS OF THE TERMS OF THIS PRIVACY POLICY, AT OUR SOLE DISCRETION, AT ANY TIME. IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY AT ANY TIME, DO NOT USE ANY OF THE SERVICES OR PROVIDE US WITH ANY OF YOUR INFORMATION. IF YOU USE THE SERVICES ON BEHALF OF SOMEONE ELSE OR AN ENTITY, YOU REPRESENT THAT YOU ARE AUTHORISED BY SUCH INDIVIDUAL OR ENTITY TO (I) ACCEPT THIS PRIVACY POLICY ON SUCH INDIVIDUAL’S OR ENTITY’S BEHALF, AND (II) CONSENT ON BEHALF OF SUCH INDIVIDUAL OR ENTITY TO OUR COLLECTION, USE AND DISCLOSURE OF SUCH INDIVIDUAL’S OR ENTITY’S INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY.
      </p>

      <h2 class="h3">2. Personal Information</h2>

      <p>
        Personal information means and includes all information that can be linked to a specific individual or to identify any individual, such as name, age, address, mailing address, telephone number, email address, credit card number, cardholder name, card expiration date, information about your mobile phone and any details that may have been voluntarily provided by you in connection with availing any of the services on the website/mobile application. The website/mobile application allows members to filter profiles by age. Although the age of a member may be made visible to other members, the actual birth date shall not be published. Similarly, phone numbers of members shall not be shared with other members for reasons of privacy.
      </p>

      <h2 class="h3">3. Information we collect</h2>

      <p>
        <strong>3.1
        </strong>
        To register as a member of website/mobile application, you must be legally competent and of legal marriageable age as per the laws of India (currently, 18 years or over for women and 21 years or over for men).
      </p>

      <p>
        <strong>3.2 Contact Information
        </strong>
        The information we gather from members and visitors who request for the various services on the website/mobile application may include, but not be limited to, your email address, first name, last name, gender, height, date of birth, educational qualifications, profession, religion, photograph, a user-specified password, mailing address, zip/pin code and telephone/mobile number or fax number, marital status and/or country or residence.
      </p>

      <p>
        <strong>3.3 Financial Information
        </strong>
        If you establish a credit account with us to pay the fees we charge now or at a later point of time, some additional information, including a billing address, a credit/debit card number and a credit/debit card expiration date and tracking information from cheques or demand drafts will be collected.
      </p>

      <p>
        <strong>3.4 Other Information
        </strong>
        If you use our website/mobile application, we may collect information about your IP address and the browser you are using at the time of registration, when a phone number is verified, with every message sent to other users and/or whenever a banned/terminated user visits the website/mobile application. We may look at what website you came from, duration of time spent on our website, pages accessed or what website you visit when you leave us. We may also collect information on the type of mobile device you are using, or the version of the operating system your computer or device is running.
      </p>

      <p>
        <strong>3.5 </strong>
        We shall act on the basis of the information that is being provided by you, believing the same to be true and accurate. We assume the details provided by you are genuine and under your express consent even if they are being submitted by your family, friends, relatives or a third party on your behalf. We are under no obligation to verify the accuracy or genuineness of the information submitted by you. By submitting your details, you agree to share your information with other members on the website/mobile application. Any complaints arising in this regard will be your responsibility.
      </p>

      <h2 class="h3">4. We collect information in different ways</h2>

      <p>
        <strong>4.1 We collect information directly from you.
        </strong>
         We collect information directly from you when you register on our website/mobile application. We also collect information if you post a comment on our website/mobile application or ask us a question through phone or email.
      </p>

      <p>
        <strong>4.2 We collect information from you passively.
        </strong>
        We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website/mobile application. Using these tools, we analyze web page flow, measure promotional effectiveness, track your usage on our website/mobile application and promote trust and safety. Additionally, you may encounter “cookies” or other similar devices on certain pages of the website/mobile application that are placed by third parties. We do not control the use of cookies by third parties.

      </p>

      <p>
        <strong>4.3
        </strong>
        We may use Google Adsense to display advertisements to visitors to the website/mobile application. We may also use Google Adwords and Facebook advertisements that may set cookies to be used later for remarketing or retargeting purposes.
      </p>

      <p>
        <strong>4.4
        </strong>
        If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the website/mobile application, we may collect such information into a file specific to you.
      </p>

      <h2 class="h3">5. Use of your Personal Information</h2>

      <p>
        <strong>5.1
        </strong>
        We collect information from our users primarily to ensure that we are able to fulfill your requirements and to deliver a personalised experience.
      </p>

      <p>
        <strong>5.2
        </strong>
        We do not sell, rent, or loan any identifiable information regarding its members/visitors to any third party. The information collected from our members/visitors is shared only with other members of apouzz.com. However, we may share such identifiable information with our associates/affiliates/subsidiaries and such associates/affiliates/subsidiaries may market to you as a result of such sharing. Any information you give us is held with the utmost care and security. We are also bound to cooperate fully should a situation arise where we are required by law or legal process to provide information about a member/visitor
      </p>

      <p>
        <strong>5.3
        </strong>
        Our website/ mobile application may provide links to other websites/ mobile application that may collect personally identifiable information about you. We are not responsible for the privacy policy or the contents of those linked websites/ mobile applications.
      </p>

      <p>
        <strong>5.4 We use information to respond to your requests or questions.
        </strong>
        We may use your information to confirm your registration on our website/mobile application or to correspond with you.
      </p>

      <p>
        <strong>5.5 We use information to improve our products and services.
        </strong>
        We may use your information to customize your experience with us.
      </p>

      <p>
        <strong>5.6 We use information for marketing purposes.
        </strong>
        We may send you information about special promotions or offers. We may also tell you about new features or services. These may be our own offers or products, or third-party offers or products we think you might find interesting.
      </p>

      <p>
        <strong>5.7 We use information to send you transactional communications.
        </strong>
        We may send you emails or text messages about our offerings. We use information as otherwise permitted by law.
      </p>

      <p>
        <strong>5.8 Testimonials.
        </strong>
        We may choose to post testimonials of satisfied customers on our website/mobile application. All permissions will be obtained to post these testimonials.

      </p>

      <h2 class="h3">6. Third-Party Sharing</h2>

      <p>
        <strong>6.1
        </strong>
        6.1.	We may share the sensitive personal information to any member without obtaining the prior consent of the member in the following limited circumstances:
        <ol type="a">
          <li>
            When it is requested or required by law or by any court or governmental agency or authority to disclose, for the purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these terms; for complying with the applicable laws and regulations.
          </li>
          <li>
            We propose to share such information within its group companies and officers and employees of such group companies for the purpose of processing personal information on its behalf. We also ensure that these recipients of such information agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures
          </li>
        </ol>
      </p>

      <p>
        <strong>6.2 We may share information with any successor to all or part of our business.
        </strong>
        For example, if part of our business is sold, we may provide our customer list as part of that transaction.
      </p>

      <p>
        <strong>6.3 We may share your information for reasons not described in this policy.
        </strong>
        We will inform you before we do this.
      </p>

      <h2 class="h3">7. Security Practices and Procedures</h2>

      <p>
        <strong>7.1
        </strong>
        We adopt reasonable security practices and procedures to include, technical, operational, managerial and physical security control measures in order to protect the personal information in our possession from loss, misuse, unauthorized access, disclosure, alteration and destruction.
      </p>

      <p>
        <strong>7.2
        </strong>
        We make all personal information accessible to our employees and data processors only on a need-to-know basis. All employees and data processors, who have access to, and are associated with the processing of personal information, are obliged to respect our confidentiality.
      </p>

      <p>
        <strong>7.3
        </strong>
        We understand that different members/visitors may have differing ideas of privacy. For this reason, we offer our members/users privacy options to upload their photographs for other members/users/visitors to view. Members are given three options to set the privacy of their photographs to one of the following:
        <ol type="i">
          <li>
            Visible to everyone;
          </li>
          <li>
            Visible only to registered members; or
          </li>
          <li>
            Restricted/visible only to certain registered members.
          </li>
        </ol>
      </p>

      <h2 class="h3">8. Accurate or Complete Information</h2>

      <p>
        <strong>8.1
        </strong>
        You are responsible for maintaining the accuracy of the information you submit to us, such as your contact information provided as part of account registration. If your personal information changes, you may correct, delete inaccuracies, or amend information by making the change on our website or mobile application. If you provide any information that is untrue, inaccurate, out of date or incomplete (or becomes untrue, inaccurate, out of date or incomplete), or spouzz.com has reasonable grounds to suspect that the information provided by you is untrue, inaccurate, out of date or incomplete, we may, at our sole discretion, discontinue the provision of the services to you.
      </p>

      <p>
        <strong>8.2
        </strong>
        If you wish to terminate your account, unsubscribe from our services or if you request that we no longer use your information to provide you with the services, you may do so in your account settings. We will retain your information for as long as your account with us is active and as required to provide you with the services as well as for a period of one (1) year after account deactivation or termination. We shall not retain such information for longer than is required for the purposes for which the information may lawfully be used or is otherwise required under any other law for the time being in force. Please note that your withdrawal of consent, unsubscribing or termination of membership may result in us being unable to provide you with its services or to terminate any existing relationship you may have with us.
      </p>

      <h2 class="h3">9. Information on Cookies</h2>

      <p>
        <strong>9.1
        </strong>
        A ‘cookie’ is a small text file that is sent from the website/mobile application and stored in your computer's web browser while you visit and use the website/mobile application. This is done in order, for example, to collect information about your activities on the website/mobile application or to make it possible for you to use certain services through the website/mobile application. The cookie transmits this information back to the website or mobile application’s processor. We need to use cookies on the website/mobile application to enhance the user experience and avoid multiple logins or password authentication requests. No personal information will be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information.
      </p>

      <p>
        <strong>9.2
        </strong>
      The ‘help’ option of the toolbar on your web browser will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. If cookies are disabled you may still use the website/mobile application, but the website/mobile application may be limited in the use of some of its features.
      </p>

      <h2 class="h3">10. Children’s Safety and Privacy</h2>
      <p>
        spouzz.com strongly encourages parents and guardians to supervise the online activities of their minor children. We do not knowingly collect personal information from minors.
      </p>

      <h2 class="h3">11. Email Opt-Out</h2>
      <p>
        <strong>You can opt out of receiving our marketing emails.
        </strong>To stop receiving our promotional emails, please email us at support@spouzz.com. It may take about ten days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your visits or activities. </p>

      <h2 class="h3">12. Third Party Websites/ Mobile Applications </h2>
      <p>
        If you click on one of the links to third party websites/mobile applications, you may be taken to websites/mobile applications we do not control. This Privacy Policy does not apply to the privacy practices of those websites/mobile applications. We encourage you to read the privacy policy of other websites/mobile applications carefully. We are not responsible for these third-party websites/mobile applications.
      </p>

      <h2 class="h3">13. Security Precautions</h2>
      <p>
        Our website/ mobile application has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.
      </p>

      <h2 class="h3">14. Grievance Officer</h2>
      <p>
        Any complaints, abuse or concerns with regards to any content or breach of these terms shall be immediately informed to the designated Grievance Officer. In accordance with Information Technology Act, 2000, and Rules made thereunder, the name and contact details of the Grievance Officer are provided below:<br>
        Spouzz Matrimonial Services LLP <br>
          Email: support@spouzz.com<br>
      </p>

      <h2 class="h3">15. Updating Personal Information</h2>
      <p>
        Users may access, modify, correct and delete the personal information provided by them which has been voluntarily given by the user and collected by us in accordance with this Privacy Policy. In case you wish to update or correct, your personal information, you may do so in your account settings.
      </p>

      <h2 class="h3">16. Jurisdiction</h2>
      <p>
        If you choose to visit and use the website/mobile application, your visit, use and any dispute over the privacy is subject to this Privacy Policy. Any disputes arising out of this Privacy Policy and the website/mobile application shall be governed by the laws of India and the courts of Cochin, Kerala, India shall have the exclusive jurisdiction
      </p>
      <h2 class="h3">17. Your Consent</h2>
      <p>
        By using the website/mobile application, or by providing us with your information, you consent to the collection, sharing and use of the information you disclose on the website/mobile application in accordance with this Privacy Policy.
      </p>
      <h2 class="h3">18. Privacy Questions</h2>
      <p>
        Should you have any questions about this Privacy Policy or our collection, use and disclosure practices, you may contact us at support@spouzz.com. We will use reasonable efforts to respond promptly to any requests, questions or concerns, which you may have regarding our use of your personal information.
      </p>
      <h2 class="h3">19. Protecting Access Information</h2>
      <p>
You are responsible for maintaining the confidentiality of your account access information and password. You shall be responsible for all uses of your own account and password, whether or not authorized by you. You shall immediately notify us of any actual or suspected unauthorized use of your account or password.
      </p>
      <h2 class="h3">20. Updates to this Privacy Policy</h2>
      <p>
        This Privacy Policy was last updated on June 25, 2018. From time to time we may change our privacy practices. We will notify you of any material changes to this Privacy Policy as required by law. We will also post an updated copy on our website/mobile application. Please check our website/mobile application periodically for updates.
      </p>
    </div>
  </div>
</div>
