<% provide(:title, 'Terms') %>
<%= render partial: 'shared/main_nav' %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-3">
      <h1 class="text-info">Terms of Use</h1>
      <p>
        This document is published in accordance with the provisions of Rule 3(1) of the Information
Technology (Intermediaries Guidelines) Rules, 2011 that require publishing the terms and
conditions for access or usage of www.spouzz.com (“the website”).
      </p>
      <p>These terms and conditions (“Terms of Use”) apply to both the website and the mobile
      application.</p>

      <p class="font-weight-bold text-uppercase">
        Please read these terms of use carefully.
        By accessing or using the website and/or mobile application you agree to be bound by the terms described herein and all terms incorporated by reference.
        If you do not agree to all of these terms, please do not use the website and/or mobile application.
        These terms of use set out the legally binding terms for your membership.
      </p>

      <h2 class="h3 text-info">1. Context and Purpose</h2>

      <h3 class="h5 text-info">1.1</h3>
      <p>
        ________________.com is an online matrimonial portal and _________ is a mobile
matrimonial application endeavouring to provide you with matrimonial matchmaking
services (“services”). In order to provide the services, we ask for certain personal
information which is displayed on the website/mobile application. All visitors to the
website/mobile application may browse through the website/mobile application and view
any articles or features our website/mobile application has to offer without entering any
personal information. However, in order to use the services on the website and/or the
mobile application, membership is mandatory.
      </p>

      <h3 class="h5 text-info">1.2</h3>
      <p>
        In these Terms of Use, references to “you”, “your”, “user” or “member” shall mean the
end user accessing the website/mobile application or using the services offered.
References to “we”, “us” and “our” shall mean ___________, its franchisor, affiliates
and partners.
      </p>
      <h3 class="h5 text-info">1.3</h3>
      <p>
        You are provided with free access for searching profiles from our database, based on the
matrimonial partner preferences chosen by you. Membership is governed by the Terms
of Use mentioned herein.
      </p>
      <h3 class="h5 text-info">1.4</h3>
      <p>
        By using or accessing the website/mobile application or the services, you agree to be
bound by all the Terms of Use.
      </p>

      <h3 class="h5 text-info">1.5</h3>
      <p>
        ___________ and _______ are the properties of ______________.
      </p>

      <h3 class="h5 text-info">1.6</h3>
      <p>
        In order to use the website/ mobile application, you must register as a member of the
website/mobile application. Members or users using the website/mobile application
agree to be bound by these Terms of Use. The website/mobile application is a serious
matrimonial matchmaking platform that can be used by a user to seek his/her life
partner. <span class="font-weight-bold"><u>It is not a casual dating site/ application.</u></span> These Terms of Use set out the
legally binding terms for your use of the website/mobile application and membership to
it. These Terms of Use may be modified by us from time to time. The membership and
rights of admissions are reserved.
      </p>


      <h2 class="h3 text-info">2. Registration</h2>
      <h3 class="h5 text-info">2.1</h3>
      <p>
        We expect that you shall complete the online registration process with honesty while
        furnishing your personal information on the website/mobile application. Kindly bear in
        mind that in order for us to provide you with efficient and effective matrimonial
        matchmaking services, our automated system relies upon your furnishing true, accurate,
        current, and complete information.
      </p>
      <h3 class="h5 text-info">2.2</h3>
      <p>
        You further undertake that you alone shall be responsible or liable for any information
provided to us. We shall reproduce the registered member details on &quot;as is as available&quot;
basis to other registered members, and members shall be solely liable for the information
given by such other members.
      </p>
      <h3 class="h5 text-info">2.3</h3>
      <p>
        If at any point of time we are made aware of or have reason to believe that any
        information provided by you for registration (including photographs provided) or
        otherwise is untrue, inaccurate, incomplete or fraudulent, then we shall have the sole
        right to suspend or terminate (without any notice) your membership and refuse to
        provide any further services thereafter.
      </p>
      <h3 class="h5 text-info">2.4</h3>
      <p>
        Membership is restricted strictly to the registered individual member only.
      </p>

      <h3 class="h5 text-info">2.5</h3>
      <p>
        Please read our <%= link_to 'Privacy Policy', privacy_path %>, which also governs your visit and use of the website/
mobile application, to understand our practices.
      </p>

      <h2 class="h3 text-info">3. Eligibility</h2>
      <h3 class="h5 text-info">3.1</h3>
      <p>
        To register as a member of website/mobile application, you must be legally competent
        and of legal marriageable age as per the laws of India (currently, 18 years or over for
        women and 21 years or over for men).
      </p>

      <h3 class="h5 text-info">3.2</h3>
      <p>
        The website/mobile application is only to facilitate personal advertisement for lawful
        matrimonial alliance between persons who are legally competent to enter into matrimony
        under the laws to which they are subject. Membership to the website/mobile application
        is void where prohibited (referred to as “advertisement” in this Terms of Use).
      </p>

      <h3 class="h5 text-info">3.3</h3>
      <p>
        By using the website/mobile application, you represent and warrant that you have the
        right, consent, authority, and legal capacity to enter into these Terms of Use and that you
        are not prohibited or prevented by any applicable law for the time being in force or any
        order or decree or injunction from any court, tribunal or any such competent authority
        restraining you from entering into matrimony.
      </p>

      <h3 class="h5 text-info">3.4</h3>
      <p>
        If at any time we are of the opinion (in our sole discretion) or have any reason to believe
        that you are not eligible to become a member or that you have made any
        misrepresentation, we reserve the right to forthwith terminate your membership and/or
        your right to avail of the services without any refund to you of any of your unutilized
        subscription fee, if any paid by you.
      </p>

      <h2 class="h3 text-info">4. Non-Commercial Use by Members</h2>
      <h3 class="h5 text-info">4.1</h3>
      <p>
        The website/mobile application is for the personal use of individual members to
        advertise and promote their profiles for the purpose of generating matrimonial matches
        and cannot be used in connection with any commercial endeavours. Organizations,
        firms, companies, and/or businesses cannot become members of the website/mobile
        application and should not use the website/mobile application or any of its services for
        any purpose.
      </p>
      <h3 class="h5 text-info">4.2</h3>
      <p>
        Illegal and/or unauthorized uses of the website/mobile application, including
        unauthorized framing of or linking to the website will be investigated, and appropriate
        legal action will be taken, including without limitation, civil, criminal, and injunctive
        redress.
      </p>

      <h2 class="h3 text-info">5. Other Terms of Use by Members</h2>
      <h3 class="h5 text-info">5.1</h3>
      <p>
        We reserve the right in our sole discretion to review the activity and status of each
        account and block the account of a member based on such review if need be.
      </p>
      <h3 class="h5 text-info">5.2</h3>
      <p>
        You hereby confirm that as on date of this registration, you do not have any objection to
        receive emails, text messages (SMS) and calls from us and/or other members of the
        website/mobile application as long as you are a registered member of the website/mobile
        application. This consent extends to emails, SMSes or calls relating to phone number
        verification, the provision of matrimonial matchmaking advertising service, related
        enquiries and promotions (kindly note we will not share your phone numbers with other
        members or visitors).
      </p>
      <h3 class="h5 text-info">5.3</h3>
      <p>
        Multiple profiles of the same person are not allowed on the website/mobile application.
        We reserve the right to deactivate all multiple profiles without any refund of subscription
        fees, if any paid.
      </p>
      <h3 class="h5 text-info">5.4</h3>
      <p>
        You confirm that the content and information including the personal information
        provided by you is correct and accurate.
      </p>
      <h3 class="h5 text-info">5.5</h3>
      <p>
        We do not collect identity documents (such as driving license, passport or other
        supporting documents) from users to verify their identity or address as user
        authentication. However, if a government authority enforces the requirement for such
        collection in future, we shall be obliged to do so. We shall provide prior notice for such
        collection.
      </p>
      <h3 class="h5 text-info">5.6</h3>
      <p>
        Except for the purpose of promoting/advertising your profile for matrimonial
        matchmaking purposes, you cannot engage in advertising to, or solicitation of, other
        members to buy or sell any products or services through the website/mobile application.
        You will not transmit any chain letters or junk email to other members. Although we
        cannot monitor the conduct of members of the website/mobile application, it is also a
        violation of these Terms of Use to use any information obtained from other members in
        order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit,
        or sell any product or service to any member without their prior explicit consent.
      </p>
      <h3 class="h5 text-info">5.7</h3>
      <p>
        We reserve the right to take immediate steps as deemed appropriate in our sole
        discretion in order to protect the website/mobile application and/or its members from
        any abuse/misuse.
      </p>
      <h3 class="h5 text-info">5.8</h3>
      <p>
        You cannot use any automated processes, including IRC Bots, EXE&#39;s, CGI or any other
        programs/scripts to view content on or communicate/contact/respond/interact with
        members of the website/mobile application.
      </p>
      <h3 class="h5 text-info">5.9</h3>
      <p>
        We reserve the right to screen communications/advertisements that you may send to
        other member(s) and also regulate the same by deleting unwarranted/obscene
        communications/advertisements at any time at our sole discretion without prior notice to
        you/any member.
      </p>
      <h3 class="h5 text-info">5.10</h3>
      <p>
        Members of the website/mobile application are expected to exercise precautions for their
        privacy and safety.
      </p>

      <h2 class="h3 text-info">6. User Account, Password and Security</h2>
      <h3 class="h5 text-info">6.1</h3>
      <p>
        You will receive a password and account designation upon completing the
        website/mobile application’s registration process. You are responsible for maintaining
        the confidentiality of the password and account, and are fully responsible for all
        activities that occur under your password or account. You agree to:
        <ol type="a">
          <li>
          Immediately notify us of any unauthorized use of your password or account or any other breach of
          security, and
          </li>
          <li>
           Ensure that you exit from your account at the end of each session. We
           shall not be liable for any loss or damage arising from your failure to comply with these
           requirements.
          </li>
        </ol>
      </p>

      <h3 class="h5 text-info">6.2</h3>
      <p>
        You shall ensure that the Account Information provided by you on the website/mobile
        application’s registration form is complete, accurate and up-to- date. Use of another
        user’s Account Information for availing the services of the website/mobile application is
        expressly prohibited.
      </p>

      <h3 class="h5 text-info">6.3</h3>
      <p>
        If you provide any information that is untrue, inaccurate, not current or incomplete (or
        becomes untrue, inaccurate, not current or incomplete), or if we have reasonable grounds
        to suspect that such information is untrue, inaccurate, not current or incomplete, we
        reserve the the right to suspend or terminate your account and refuse any and all current
        or future use of the website/mobile application (or any part thereof).
      </p>

      <h2 class="h3 text-info">7. Proprietary Rights</h2>
      <h3 class="h5 text-info">7.1</h3>
      <p>
        _______________ owns and retains all proprietary rights in the ___________ website
        and ___________mobile application. The website/mobile application contains the
        copyrighted material, trademarks, and other proprietary information of
        ____________.com, and its licensors.
      </p>

      <h3 class="h5 text-info">7.2</h3>
      <p>
        Except for that information which is in the public domain such as member profile or for
        which permission has been obtained from the user, you cannot copy, modify, publish,
        transmit, distribute, perform, display, or sell any such proprietary information. Any such
        act or an attempted act on your part shall constitute a violation of these Terms of Use
        and your membership is liable to be terminated forthwith by us without refund of your
        unused subscription fees, if any paid by you. We reserve the right to take legal action
        (civil and/or criminal) wherever applicable for any violations.
      </p>

      <h2 class="h3 text-info">8. Content Posted on the Website/Mobile Application</h2>
      <h3 class="h5 text-info">8.1</h3>
      <p>
        You understand and agree that we may delete any listing, content, communication,
        photographs or profiles (collectively, <span class="font-weight-bold">“Content”</span>) that in our sole judgment violates any
        of these Terms of Use or which may be offensive, illegal, or that may violate the rights,
        harm, or threaten our safety or the safety of other members.
      </p>
      <h3 class="h5 text-info">8.2</h3>
      <p>
        With respect to Content you submit or make available for inclusion on publicly
accessible areas of the website/mobile application including but not limited to your
contact details, you hereby unconditionally and irrevocably grant to us the license to use,
distribute, reproduce, modify, adapt, publicly perform and publicly display such Content
on the website/mobile application and to other members from time to time.
      </p>
      <h3 class="h5 text-info">8.3</h3>
      <p>
        You shall use the website/mobile application only to market and promote your profile
        and to reach out to other members for the purpose of seeking relevant matrimonial
        matches. You understand and hereby agree that all information, data, text, photographs,
        graphics, communications, tags, or other Content whether publicly posted or privately
        transmitted or otherwise made available to us or our members, are the sole responsibility
        of the person from whom such Content originated and shall be at the member&#39;s/person&#39;s
        sole risks as to consequences. This means that you are solely responsible for all Content
        that you upload, post, email, transmit or otherwise make available through the
        website/mobile application.
      </p>
      <h3 class="h5 text-info">8.4</h3>
      <p>
        We do not control the Content posted through the website/mobile application and do not
        guarantee the accuracy, integrity or quality of such Content. Under no circumstances
        shall we be liable in any manner for any Content, including, but not limited to, any errors
        or omissions in any Content, or any loss or damage of any kind incurred as a result of the
        use of any Content posted, emailed, transmitted or otherwise made available through the
        website/mobile application. We reserve the right to verify the authenticity of Content
        posted on the website/mobile application. In exercising this right, we may ask you to
        provide any documentary or other form of evidence supporting the Content you post on
        the website/mobile application. If you fail to produce such evidence to our satisfaction,
        we may, in our sole discretion, terminate your membership without refund of fees, if
        any, paid by you.
      </p>
      <h3 class="h5 text-info">8.5</h3>
      <p>
        By posting Content/ advertising to any public area of the website/mobile application,
        you automatically grant, and you represent and warrant that you have the right to grant,
        to us, and other members, an irrevocable, perpetual, non-exclusive, fully-paid,
        worldwide license to use, copy, perform, display, and distribute such information and
        content and to prepare derivative works of, or incorporate into other works, such
        information and content, and to grant and authorize sublicenses of the foregoing.
      </p>
      <h3 class="h5 text-info">8.6</h3>
      <p>
        The following is an indicative list of the kind of Content that is illegal or prohibited on
        the website/mobile application. We will investigate and take appropriate legal action in
        our sole discretion against anyone who violates these Terms of Use, including without
        limitation, removing the offending Content from the website/mobile application and
        terminating the membership of such violators without a refund of fees, if any, paid.

        <ol type="i"><span class="font-weight-bold"><u>Illegal and prohibited Content includes Content which:</u></span>
<li>is blatantly offensive to the community, such as Content that promotes racism,
gender bias, bigotry, hatred or physical harm of any kind against any group or
individual;</li>
<li>harasses or advocates harassment of another person</li>
<li>involves the transmission of &quot;junk mail&quot;, &quot;chain letters,&quot; or unsolicited mass
mailing or &quot;spamming&quot;;</li>
<li>promotes information that you know is false, misleading or promotes illegal
activities or conduct that is abusive, threatening, obscene, defamatory or libellous;</li>
<li>promotes an illegal or unauthorized copy of another person&#39;s copyrighted work,
such as providing pirated computer programs or links to them, providing
information to circumvent manufacture-installed copy-protect devices, or
providing pirated music or links to pirated music files;</li>
<li>contains restricted or password-only access pages, or hidden pages or images
(those not linked to or from another accessible page);</li>
<li>displays pornographic or sexually-explicit material of any kind;</li>
<li>provides material that exploits persons under the age of 18 in a sexual or violent
manner, or solicits personal information from anyone under 18 years of age;</li>
<li>provides instructional information about illegal activities such as making or
buying illegal weapons, violating someone&#39;s privacy, or providing or creating
computer viruses;</li>
<li>solicits passwords or personal identifying information for commercial or unlawful
purposes from other users; and</li>
<li>engages in commercial activities and/or sales without our prior written consent
such as contests, sweepstakes, barter, advertising, and pyramid schemes.</li>
</ol>
      </p>
      <h3 class="h5 text-info">8.7</h3>
      <p>You must use the website/mobile application and/or its services in a manner consistent
with any and all applicable local, state, and federal laws, rules and regulations.</p>


<h2 class="h3 text-info">9. Copyright Policy</h2>
      <h3 class="h5 text-info">9.1</h3>
      <p>
        You cannot post, distribute, or reproduce in any way any copyrighted material,
        trademarks, or other proprietary information without obtaining the prior written consent
        of the owner of such proprietary rights.
      </p>
      <h3 class="h5 text-info">8.1</h3>
      <p></p>
      <h3 class="h5 text-info">8.1</h3>
      <p></p>

    </div>
  </div>
</div>
