<% provide(:title, 'Terms') %>
<%= render partial: 'shared/simple_nav' %>

<div class="jumbotron jumbotron-fluid text-xs-center m-b-0 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="thin">Terms and Conditions</h1>
      </div>
    </div>
  </div>
</div>
