<% provide(:title, 'Terms of Use') %>
<%= render partial: 'shared/main_nav' %>

<nav class="bg-primary primary-breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item active">Terms of Use</li>
    </ol>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <h1>Terms of Use</h1>
      <p>
        This document is published in accordance with the provisions of Rule 3(1) of the Information Technology (Intermediaries Guidelines) Rules, 2011 that require publishing the terms and conditions for access or usage of Spouzz.com (“the website”).
      </p>
      <p>These terms and conditions (“Terms of Use”) apply to both the website and the mobile application.</p>

      <p class="font-weight-bold text-uppercase">
        Please read these terms of use carefully. By accessing or using the website and/or mobile application you agree to be bound by the terms described herein and all terms incorporated by reference. If you do not agree to all of these terms, please do
        not use the website and/or mobile application. These terms of use set out the legally binding terms for your membership.
      </p>

      <h2 class="h3">1. Context and Purpose</h2>
      <p>
        <strong>1.1
        </strong>
        Spouzz.com is an online matrimonial portal endeavouring to provide you with matrimonial matchmaking services (“services”). In order to provide the services, we ask for certain personal information which is displayed on the website/mobile application.
        All visitors to the website/mobile application may browse through the website/mobile application and view any articles or features our website/mobile application has to offer without entering any personal information. However, in order to use the
        services on the website and/or the mobile application, membership is mandatory.
      </p>

      <p>
        <strong>1.2
        </strong>
        In these Terms of Use, references to “you”, “your”, “user” or “member” shall mean the end user accessing the website/mobile application or using the services offered. References to “we”, “us” and “our” shall mean Spouzz Matrimonial Services LLP, its
        franchisor, affiliates and partners.
      </p>

      <p>
        <strong>1.3
        </strong>
        You are provided with free access for searching profiles from our database, based on the matrimonial partner preferences chosen by you. Membership is governed by the Terms of Use mentioned herein.
      </p>

      <p>
        <strong>1.4
        </strong>
        By using or accessing the website/mobile application or the services, you agree to be bound by all the Terms of Use.
      </p>

      <p>
        <strong>1.5
        </strong>
        Spouzz.com is the property of Spouzz Matrimonial Services LLP.
      </p>

      <p>
        <strong>1.6
        </strong>
        In order to use the website/ mobile application, you must register as a member of the website/mobile application. Members or users using the website/mobile application agree to be bound by these Terms of Use. The website/mobile application is a
        serious matrimonial matchmaking platform that can be used by a user to seek his/her life partner.
        <span class="font-weight-bold">
          <u>It is not a casual dating site/ application.</u>
        </span>
        These Terms of Use set out the legally binding terms for your use of the website/mobile application and membership to it. These Terms of Use may be modified by us from time to time. The membership and rights of admissions are reserved.
      </p>

      <h2 class="h3">2. Registration</h2>

      <p>
        <strong>2.1
        </strong>
        We expect that you shall complete the online registration process with honesty while furnishing your personal information on the website/mobile application. Kindly bear in mind that in order for us to provide you with efficient and effective
        matrimonial matchmaking services, our automated system relies upon your furnishing true, accurate, current, and complete information.
      </p>

      <p>
        <strong>2.2
        </strong>
        You further undertake that you alone shall be responsible or liable for any information provided to us. We shall reproduce the registered member details on &quot;as is as available&quot; basis to other registered members, and members shall be solely
        liable for the information given by such other members.
      </p>

      <p>
        <strong>2.3
        </strong>
        If at any point of time we are made aware of or have reason to believe that any information provided by you for registration (including photographs provided) or otherwise is untrue, inaccurate, incomplete or fraudulent, then we shall have the sole
        right to suspend or terminate (without any notice) your membership and refuse to provide any further services thereafter.
      </p>

      <p>
        <strong>2.4
        </strong>
        Membership is restricted strictly to the registered individual member only.
      </p>

      <p>
        <strong>2.5
        </strong>
        Please read our
        <%= link_to 'Privacy Policy', privacy_path %>, which also governs your visit and use of the website/ mobile application, to understand our practices.
      </p>

      <h2 class="h3">3. Eligibility</h2>

      <p>
        <strong>3.1
        </strong>
        To register as a member of website/mobile application, you must be legally competent and of legal marriageable age as per the laws of India (currently, 18 years or over for women and 21 years or over for men).
      </p>

      <p>
        <strong>3.2
        </strong>
        The website/mobile application is only to facilitate personal advertisement for lawful matrimonial alliance between persons who are legally competent to enter into matrimony under the laws to which they are subject. Membership to the website/mobile
        application is void where prohibited (referred to as “advertisement” in this Terms of Use).
      </p>

      <p>
        <strong>3.3
        </strong>
        By using the website/mobile application, you represent and warrant that you have the right, consent, authority, and legal capacity to enter into these Terms of Use and that you are not prohibited or prevented by any applicable law for the time being
        in force or any order or decree or injunction from any court, tribunal or any such competent authority restraining you from entering into matrimony.
      </p>

      <p>
        <strong>3.4
        </strong>
        If at any time we are of the opinion (in our sole discretion) or have any reason to believe that you are not eligible to become a member or that you have made any misrepresentation, we reserve the right to forthwith terminate your membership and/or
        your right to avail of the services without any refund to you of any of your unutilized subscription fee, if any paid by you.
      </p>

      <h2 class="h3">4. Non-Commercial Use by Members</h2>

      <p>
        <strong>4.1
        </strong>
        The website/mobile application is for the personal use of individual members to advertise and promote their profiles for the purpose of generating matrimonial matches and cannot be used in connection with any commercial endeavours. Organizations,
        firms, companies, and/or businesses cannot become members of the website/mobile application and should not use the website/mobile application or any of its services for any purpose.
      </p>

      <p>
        <strong>4.2
        </strong>
        Illegal and/or unauthorized uses of the website/mobile application, including unauthorized framing of or linking to the website will be investigated, and appropriate legal action will be taken, including without limitation, civil, criminal, and
        injunctive redress.
      </p>

      <h2 class="h3">5. Other Terms of Use by Members</h2>

      <p>
        <strong>5.1
        </strong>
        We reserve the right in our sole discretion to review the activity and status of each account and block the account of a member based on such review if need be.
      </p>

      <p>
        <strong>5.2
        </strong>
        You hereby confirm that as on date of this registration, you do not have any objection to receive emails, text messages (SMS) and calls from us and/or other members of the website/mobile application as long as you are a registered member of the
        website/mobile application. This consent extends to emails, SMSes or calls relating to phone number verification, the provision of matrimonial matchmaking advertising service, related enquiries and promotions (kindly note we will not share your phone
        numbers with other members or visitors).
      </p>

      <p>
        <strong>5.3
        </strong>
        Multiple profiles of the same person are not allowed on the website/mobile application. We reserve the right to deactivate all multiple profiles without any refund of subscription fees, if any paid.
      </p>

      <p>
        <strong>5.4
        </strong>
        You confirm that the content and information including the personal information provided by you is correct and accurate.
      </p>

      <p>
        <strong>5.5
        </strong>
        We do not collect identity documents (such as driving license, passport or other supporting documents) from users to verify their identity or address as user authentication. However, if a government authority enforces the requirement for such
        collection in future, we shall be obliged to do so. We shall provide prior notice for such collection.
      </p>

      <p>
        <strong>5.6
        </strong>
        Except for the purpose of promoting/advertising your profile for matrimonial matchmaking purposes, you cannot engage in advertising to, or solicitation of, other members to buy or sell any products or services through the website/mobile application.
        You will not transmit any chain letters or junk email to other members. Although we cannot monitor the conduct of members of the website/mobile application, it is also a violation of these Terms of Use to use any information obtained from other
        members in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell any product or service to any member without their prior explicit consent.
      </p>

      <p>
        <strong>5.7
        </strong>
        We reserve the right to take immediate steps as deemed appropriate in our sole discretion in order to protect the website/mobile application and/or its members from any abuse/misuse.
      </p>

      <p>
        <strong>5.8
        </strong>
        You cannot use any automated processes, including IRC Bots, EXE&#39;s, CGI or any other programs/scripts to view content on or communicate/contact/respond/interact with members of the website/mobile application.
      </p>

      <p>
        <strong>5.9
        </strong>
        We reserve the right to screen communications/advertisements that you may send to other member(s) and also regulate the same by deleting unwarranted/obscene communications/advertisements at any time at our sole discretion without prior notice to
        you/any member.
      </p>

      <p>
        <strong>5.10
        </strong>
        Members of the website/mobile application are expected to exercise precautions for their privacy and safety.
      </p>

      <h2 class="h3">6. User Account, Password and Security</h2>

      <p>
        <strong>6.1
        </strong>
        You will receive a password and account designation upon completing the website/mobile application’s registration process. You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all
        activities that occur under your password or account. You agree to:
        <ol type="a">
          <li>
            Immediately notify us of any unauthorized use of your password or account or any other breach of security, and
          </li>
          <li>
            Ensure that you exit from your account at the end of each session. We shall not be liable for any loss or damage arising from your failure to comply with these requirements.
          </li>
        </ol>
      </p>

      <p>
        <strong>6.2
        </strong>
        You shall ensure that the Account Information provided by you on the website/mobile application’s registration form is complete, accurate and up-to- date. Use of another user’s Account Information for availing the services of the website/mobile
        application is expressly prohibited.
      </p>

      <p>
        <strong>6.3
        </strong>
        If you provide any information that is untrue, inaccurate, not current or incomplete (or becomes untrue, inaccurate, not current or incomplete), or if we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or
        incomplete, we reserve the the right to suspend or terminate your account and refuse any and all current or future use of the website/mobile application (or any part thereof).
      </p>

      <h2 class="h3">7. Proprietary Rights</h2>

      <p>
        <strong>7.1
        </strong>
        Spouzz Matrimnonial Services LLP owns and retains all proprietary rights in the Spouzz.com website . The website/mobile application contains the copyrighted material, trademarks, and other proprietary information of Spouzz.com, and its licensors.
      </p>

      <p>
        <strong>7.2
        </strong>
        Except for that information which is in the public domain such as member profile or for which permission has been obtained from the user, you cannot copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary
        information. Any such act or an attempted act on your part shall constitute a violation of these Terms of Use and your membership is liable to be terminated forthwith by us without refund of your unused subscription fees, if any paid by you. We
        reserve the right to take legal action (civil and/or criminal) wherever applicable for any violations.
      </p>

      <h2 class="h3">8. Content Posted on the Website/Mobile Application</h2>

      <p>
        <strong>8.1
        </strong>
        You understand and agree that we may delete any listing, content, communication, photographs or profiles (collectively,
        <span class="font-weight-bold">“Content”</span>) that in our sole judgment violates any of these Terms of Use or which may be offensive, illegal, or that may violate the rights, harm, or threaten our safety or the safety of other members.
      </p>

      <p>
        <strong>8.2
        </strong>
        With respect to Content you submit or make available for inclusion on publicly accessible areas of the website/mobile application including but not limited to your contact details, you hereby unconditionally and irrevocably grant to us the license to
        use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the website/mobile application and to other members from time to time.
      </p>

      <p>
        <strong>8.3
        </strong>
        You shall use the website/mobile application only to market and promote your profile and to reach out to other members for the purpose of seeking relevant matrimonial matches. You understand and hereby agree that all information, data, text,
        photographs, graphics, communications, tags, or other Content whether publicly posted or privately transmitted or otherwise made available to us or our members, are the sole responsibility of the person from whom such Content originated and shall be
        at the member&#39;s/person&#39;s sole risks as to consequences. This means that you are solely responsible for all Content that you upload, post, email, transmit or otherwise make available through the website/mobile application.
      </p>

      <p>
        <strong>8.4
        </strong>
        We do not control the Content posted through the website/mobile application and do not guarantee the accuracy, integrity or quality of such Content. Under no circumstances shall we be liable in any manner for any Content, including, but not limited
        to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available through the website/mobile application. We reserve the right to
        verify the authenticity of Content posted on the website/mobile application. In exercising this right, we may ask you to provide any documentary or other form of evidence supporting the Content you post on the website/mobile application. If you fail
        to produce such evidence to our satisfaction, we may, in our sole discretion, terminate your membership without refund of fees, if any, paid by you.
      </p>

      <p>
        <strong>8.5
        </strong>
        By posting Content/ advertising to any public area of the website/mobile application, you automatically grant, and you represent and warrant that you have the right to grant, to us, and other members, an irrevocable, perpetual, non-exclusive,
        fully-paid, worldwide license to use, copy, perform, display, and distribute such information and content and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sublicenses of the
        foregoing.
      </p>

      <p>
        <strong>8.6
        </strong>
        The following is an indicative list of the kind of Content that is illegal or prohibited on the website/mobile application. We will investigate and take appropriate legal action in our sole discretion against anyone who violates these Terms of Use,
        including without limitation, removing the offending Content from the website/mobile application and terminating the membership of such violators without a refund of fees, if any, paid.

        <ol type="i">
          <span class="font-weight-bold">
            <u>Illegal and prohibited Content includes Content which:</u>
          </span>
          <li>is blatantly offensive to the community, such as Content that promotes racism, gender bias, bigotry, hatred or physical harm of any kind against any group or individual;</li>
          <li>harasses or advocates harassment of another person</li>
          <li>involves the transmission of &quot;junk mail&quot;, &quot;chain letters,&quot; or unsolicited mass mailing or &quot;spamming&quot;;</li>
          <li>promotes information that you know is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libellous;</li>
          <li>promotes an illegal or unauthorized copy of another person&#39;s copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated
            music or links to pirated music files;</li>
          <li>contains restricted or password-only access pages, or hidden pages or images (those not linked to or from another accessible page);</li>
          <li>displays pornographic or sexually-explicit material of any kind;</li>
          <li>provides material that exploits persons under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under 18 years of age;</li>
          <li>provides instructional information about illegal activities such as making or buying illegal weapons, violating someone&#39;s privacy, or providing or creating computer viruses;</li>
          <li>solicits passwords or personal identifying information for commercial or unlawful purposes from other users; and</li>
          <li>engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes.</li>
        </ol>
      </p>

      <p>
        <strong>8.7
        </strong>You must use the website/mobile application and/or its services in a manner consistent with any and all applicable local, state, and federal laws, rules and regulations.</p>

      <h2 class="h3">9. Copyright Policy</h2>

      <p>
        <strong>9.1
        </strong>
        You cannot post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights.
      </p>

      <h2 class="h3">10. International Use</h2>
      <p>
        <strong>10.1
        </strong>Although the website/mobile application may be available worldwide, we make no representation that materials on the website/mobile application are appropriate for use in locations outside India or that the website/mobile application complies
        with any other country’s privacy laws. Accessing the website/mobile application or materials from territories where the content is deemed illegal is prohibited. If you access the website/mobile application from locations outside the India, you do so
        on your own initiative and are responsible for compliance with the applicable local laws. Any offer for any product, service, and/or information made in connection with the website/mobile application is void where prohibited.</p>

      <h2 class="h3">11. Member Disputes</h2>
      <p>
        <strong>11.1
        </strong>You are solely responsible for your advertisement/communications with other members. We reserve the right, but are under no obligation, to monitor disputes between you and other members. Further, we also reserve the right to take appropriate
        action against errant members. However, we are not obliged to share such action with other members, including complainants. We expressly disclaim any responsibility or liability for any transactions or interactions between the members inter-se.</p>

      <h2 class="h3">12. Disclaimers</h2>
      <p>
        <strong>12.1
        </strong>We are not responsible for any incorrect or inaccurate Content/listing posted on the website/mobile application or in connection with the service, whether caused by users, members or by any of the equipment or programming associated with or
        utilized in the service, nor for the conduct of any user and/or member whether online or offline.</p>
      <p>
        <strong>12.2
        </strong>We assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user and/or member
        communications or any communications by us to any members.</p>
      <p>
        <strong>12.3
        </strong>We are not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line- systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems
        or traffic congestion on the Internet or at any website or combination thereof, including injury or damage to users and/or members or to any other person's computer related to or resulting and/or in connection with the website/mobile application or
        any of its services.</p>
      <p>
        <strong>12.4
        </strong>The exchange of matchmaking profile(s) through or by the website/mobile application is not a matrimonial offer and/or recommendation from/by Spouzz.com. We shall not be responsible for any loss or damage to any individual arising out of, or
        subsequent to, any relations (including but not limited to matrimonial relations) established pursuant to the use of the website/mobile application.</p>
      <p>
        <strong>12.5
        </strong>The website/mobile application and the service are provided &quot;AS-IS&quot; and Spouzz.com expressly disclaims any warranty of fitness for a particular purpose or non-infringement. Spouzz.com cannot guarantee and does not promise any
        specific results from use of the website /mobile application and/or the service.</p>
      <p>
        <strong>12.6
        </strong>We expressly disclaim any liability or responsibility whatsoever and howsoever arising as a result of any Content/listing posted on the website/mobile application/made available to any members or the users of the website/mobile application
        or any third party.
      </p>
      <p>
        <strong>12.7
        </strong>We do not assume any responsibility or liability for any illegal Content posted on the website/mobile application by any members, users or any third party.
      </p>
      <p>
        <strong>12.8
        </strong>We do not assume any responsibility or liability for any expenditure incurred by you to fraudsters who seek money or other favours. You are advised to exercise caution.
      </p>
      <p>
        <strong>12.9
        </strong>All liability, whether civil or criminal arising out of any Content that is posted on the website/mobile application, will be of that member/user/third party who has posted such Content and we reserve the right to claim damages from such
        member/user/third party that we may suffer as a result of such Content posted on the website/mobile application. We do not claim ownership of Content you submit or make available for inclusion on the website/mobile application.
      </p>

      <h2 class="h3">13. No Warranties</h2>
      <p>
        <strong>13.1</strong>
        We disclaim any and all warranties or fitness for a particular purpose, merchantability or against infringement. In no event will ___________ or its employees, be liable for any damages or losses, including without limitation, indirect,
        consequential, special, incidental or punitive damages resulting from or caused by the website and/or mobile application, its contents or any errors or omissions in its contents, even if advised of the possibilities of such damages.
      </p>

      <h2 class="h3">14. Limitation of Liability</h2>
      <p>
        <strong>14.1</strong>
        Under no circumstances and under no legal theory, tort, contract, or otherwise, shall ________ or its directors, officers or employees be liable to the member/visitor or any other person for any indirect, special, incidental, or consequential damages
        of any character including, without limitation, damages resulting from the use of or the inability to use the mobile application, including its predictive and/or other matrimonial matchmaking services, or damages for loss of goodwill, business
        profit, business stoppage, loss of data or business information, computer damage, or damages resulting from unauthorized access to or changes made to member&#39;s transmissions or data, or any and all other commercial damages or losses. It is
        understood that the materials provided are for your personal information only and do not construe to be any specific advice to you. In no event shall the liability of _______ and its affiliates (and those that ______ works with to provide the
        services) exceed, in the aggregate for all claims, an amount that is the lesser of (a) five times the most recent monthly or yearly fee that you paid for a service, if any, or (b) INR ___________.
      </p>

      <p>
        <strong>14.2</strong>
        We shall not be held responsible for personal or business losses arising from your using or not using our services in any way. Please use your own discretion while engaging in any communication with us or any other members.
      </p>

      <p>
        <strong>14.3</strong>
        Any action taken by the member/visitor on the basis of the information contained on the website and/or mobile application, is the member/visitor’s responsibility alone and we shall not be held liable in any manner for the consequences of such action
        taken by the member/visitor.
      </p>

      <p>
        <strong>14.4</strong>
        You are advised to exercise due caution while relying on any information or communications with other members, in any manner whatsoever. In no event will we be liable for any damages.
      </p>

      <h2 class="h3">15. Jurisdiction</h2>
      <p>
        <strong>15.1</strong>
        If you choose to visit or use the website/mobile application, your visit, use and any dispute over any terms is subject to these Terms of Use. Any disputes arising out of these Terms of Use and the website/mobile application shall be governed by the
        laws of India and the courts of __________, Kerala, India shall have the exclusive jurisdiction.
      </p>

      <h2 class="h3">16. Indemnity</h2>
      <p>
        <strong>16.1</strong>
        You agree to indemnify and hold ____________, its subsidiaries, affiliates, directors officers, agents and employees, fully indemnified and harmless from any loss, liability, claim, or demand, including reasonable attorney&#39;s fees, made by any
        third party due to or arising out of your use of the website and/or mobile application or its service in violation of these Terms of Use and/or arising from a breach of these Terms of Use and/or any breach of your representations and warranties set
        forth above and/or any fraudulent act on your part.
      </p>
      <h2 class="h3">17. Term</h2>
      <p>
        <strong>17.1</strong>
        You may terminate your membership at any time, for any reason by writing to us at___________. In the event you terminate your membership, you will not be entitled to a refund of any unutilized subscription fees, if any, paid by you, except where
        otherwise stated in writing. We may terminate your access to the website/mobile application and/or your membership for any reason effective upon sending notice to you at the email address as provided you in your application for membership or such
        other email address as you may provide to us. If we terminate your membership for breach of terms of these Terms of Use, you will not be entitled to any refund of any subscription fees, if any, paid by you.
      </p>
      <h2 class="h3">18. Termination</h2>
      <p>Upon termination/suspension of your membership, your right to use or access the website/mobile application or any services will cease immediately. All provisions of these Terms of Use that by their nature should survive termination shall survive
      termination, including, without limitation, disclaimers and limitations of liability. Termination of your access to and use of the website/mobile application shall not relieve you of any obligations arising or accruing prior to such termination.</p>
      <h2 class="h3">19. Renewal</h2>
      <p>
        <strong>19.1</strong>
        All members can renew the paid package to continue using the paid services on the website and/or mobile application upon expiry of their current package.
      </p>
      <p>
        <strong>19.2</strong>
        The payments made by any member by way of membership/renewal fee are treated as non-refundable. Payment once made for the services cannot be assigned to any person/party or adjusted towards any other services or packages provided by us.
      </p>
      <p>
        <strong>19.3</strong>
        Members cannot place the paid services on hold, even temporarily, for any reason whatsoever. Based on the tenure of paid service or package and the date of the accepted payment, the expiry of the service will occur on the expiry of the applicable
        paid package taken by you.
      </p>
      <h2 class="h3">20. Other</h2>
      <p>
        <strong>20.1</strong>
        By becoming a member of the website/mobile application, you agree to receive certain specific email from us and/or our group sites. You can unsubscribe at any time for any reason quickly and easily by clicking on the unsubscribe link enclosed in the
        mail.
      </p>
      <p>
        <strong>20.2</strong>
        These Terms of Use, accepted upon you use of the website/mobile application and further affirmed by becoming a member of the _____________.com service, contains the entire agreement between you and us regarding the use of the website and/or the
        mobile application or its service. If any provision of these Terms of Use is held to be invalid, the remainder of these Terms of Use shall continue in full force and effect.
      </p>
      <p>
        <strong>20.3</strong>
        By becoming a member of the website/mobile application and/or using the services of the website and/or mobile application, you unconditionally and irrevocably confirm that you have read and understood the above provisions and agree to abide by them.
      </p>
      <p>
        <strong>20.4</strong>
        Please contact us with any questions regarding these Terms of Use.
      </p>
      <h2 class="h3">21. Grievance Officer</h2>
      <p>
        <strong>21.1</strong>
        Any complaints, abuse or concerns with regards to any content or breach of these terms shall be immediately informed to the designated Grievance Officer. In accordance with Information Technology Act, 2000 and Rules made thereunder, the name and
        contact details of the Grievance Officer are provided below:
        <br>
        Mr./Ms.
        <br>
        Address:
        <br>
        Phone:
        <br>
        Email:
        <br>
      </p>
      <h2 class="h3">22. Acceptance to abide by Terms of Use</h2>
      <p>
        I hereby agree and state that I have read all the Terms of Use mentioned on the website/mobile application and I undertake to comply with all the terms that apply or may apply to use the website/mobile application. I warrant and agree that I will not
        use the website/mobile application in any manner prohibited by the Terms of Use. I also acknowledge that a violation of the Terms of Use set forth herein may result in annulment of my access to the website/mobile application and/or legal action may
        also be taken.
      </p>
    </div>
  </div>
</div>
