<% provide(:title, 'Inbox') %>
<%= render partial: 'shared/main_nav' %>

<div class="jumbotron jumbotron-fluid mb-0" style="background-color:#E1F5FE;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="jumbotron-heading h2 text-muted">Inbox</h1>
      </div>
    </div>
  </div>
</div>
<div class="mb-3" style="border-bottom: 1px solid #f3f3f3;">
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <%= render partial: 'messages/messages_nav' %>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="row justify-content-center">
    <% if @messages.empty? %>

    <div class="col-lg-7">
      <div class="rounded p-5 text-center text-muted" style="border: 2px dashed #ccc">
        <p class="m-lg-5 m-2">
          Start a conversation. <br />
          <%= link_to 'Browse matches', search_path, class: "btn btn-success mt-1" %>
        </p>
      </div>
    </div>
    <% else %>
      <div class="col-lg-7">
        <% @messages.each do |message| %>
          <%= render partial: 'messages/message_card', locals: { message: message, user: message.sender } %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
