<% provide(:title, 'Sent messages') %>
<%= render partial: 'shared/main_nav' %>

<div class="jumbotron jumbotron-fluid text-xs-center m-b-0 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="thin">Sent messages</h1>
      </div>
    </div>
  </div>
</div>
<div style="border-bottom: 1px solid #f3f3f3;">
  <div class="container p-y-1">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'messages/messages_nav' %>
      </div>
    </div>
  </div>
</div>

<section class="container m-t-2">
  <div class="row">
    <% if @messages.empty? %>
      <div class="col-xs-12">
        <div class="card card-block card-outline-secondary text-muted p-y-3" style="border-style:dashed">
          <p class="text-xs-center p-y-3">
            You've not messaged anybody yet.<br>
            <small>Start a conversation.</small><br>
            <%= link_to 'Browse matches', search_path, class: "btn btn-success m-t-1" %>
          </p>
        </div>
      </div>
    <% else %>
      <div class="col-lg-7">
        <% @messages.each do |message| %>
          <%= render partial: 'messages/message_card', locals: { message: message, user: message.recipient } %>
        <% end %>
      </div>
      <div class="col-lg-5">
      </div>
    <% end %>
  </div>
</section>
