<% provide(:title, "That was easy!") %>

<section class="container">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 mt-4">
      <%= link_to root_path, class: 'd-block text-center' do %>
        <%= image_tag 'logo.svg', width: 48 %>
      <% end %>
      <h1 class="h2 text-center my-1">You're all set</h1>
      <p class="text-center">
        That was easy. Log in with your new password to browse matches.
      </p>
      <%= link_to 'Log in', login_path, class: 'btn btn-block btn-lg btn-primary' %>
    </div>
  </div>
</section>
