<h1>Welcome to Roozam</h1>
Getting started with Roozam is easy. Here are 3 easy steps to help you get started.

<ol>
  <li>Add your best photos</li>
  <li>Fill out your profile</li>
  <li>Browse matches</li>
</ol>
