<% provide(:title, 'My favorites') %>
<%= render partial: 'shared/main_nav' %>

<div class="jumbotron jumbotron-fluid mb-3 bg-primary" style="color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="jumbotron-heading">Favorites</h1>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="row justify-content-center">
    <% if @active_bookmarks.empty? %>
      <div class="col-lg-7">
        <div class="rounded p-5 text-center text-muted" style="border: 2px dashed #ccc">
          <p class="m-5">
            Quickly view shortlisted users by adding them to your favorites.<br />
            <%= link_to 'Browse matches', search_path, class: "btn btn-success mt-1" %>
          </p>
        </div>
      </div>
    <% else %>
      <div class="col-lg-7">
        <% @active_bookmarks.each do |bookmark| %>
          <%= render partial: 'favorites/favorite_card', locals: { time: bookmark.created_at, user: bookmark.bookmarked } %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
