<% provide(:title, 'Browse matches') %>
<%= render partial: 'shared/main_nav' %>

<%= render partial: 'search/search_form' %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-12">
        <% if @users.present? %>
        <div class="row justify-content-center" id="search-results">
          <%= render partial: 'search/user', collection: @users %>
          </div>
          <div class="row justify-content-center">
            <%= paginate @users, window: 1 %>
          </div>
        <% else %>
        <div class="row justify-content-center" id="search-results">
          <div class="rounded p-5 text-center text-muted mb-5 mx-2" style="border: 2px dashed #ccc">
            <p class="m-lg-5 m-2">Enter your preference and click Search to get started.</p>
          </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
