<% if @user.about.present? %>
<div class="card card-block card-outline-secondary" style="border-color: transparent">
  <h3 class="card-title h5">About me</h3>
  <%= simple_format(@user.about, class: 'card-text') %>
</div>
<% else %>
<div class="card card-block card-outline-secondary text-muted" style="border-style:dashed">
  <h3 class="card-title" >About me</h3>
  <p class="lead text-xs-center p-y-3">
    <%= @user.male? ? 'He' : 'She' %> hasn't written anything yet&hellip;<br>
    Perhaps a thinker, not a talker.
  </p>
</div>
<% end %>
