<% if @user.about.present? %>
<div class="card card-block card-outline-secondary" style="border-color: transparent">
  <h3 class="card-title h5">About me</h3>
  <%= simple_format(@user.about, { class: 'card-text', style: 'color: #5e6573' }) %>
</div>
<% else %>
  <% if @user.eql?(current_user) %>
    <div class="card card-block card-outline-secondary text-muted" style="border-style:dashed">
      <h3 class="card-title h5">About me</h3>
      <p class="lead text-xs-center p-y-3">
        You haven't written anything yet.<br>
        <small>
          <%= link_to about_settings_path, data: { toggle: 'modal', target: '#about-modal' }  do %>
          Add a brief description <span class="text-success">&#x270E;</span>
          <% end %>
        </small>
      </p>
    </div>
    <%= render partial: 'users/about_modal' %>
  <% else %>
    <div class="card card-block card-outline-secondary text-muted" style="border-style:dashed">
      <h3 class="card-title h5">About me</h3>
      <p class="lead text-xs-center p-y-3">
        <%= @user.male? ? 'He' : 'She' %> hasn't written anything yet&hellip;<br>
        <small>Perhaps a thinker, not a talker.</small>
      </p>
    </div>
  <% end %>
<% end %>
