<div class="card card-inverse card-block bg-primary text-xs-center">
<p class="card-title lead">
  New to Roozam?
</p>
<p class="card-text">
Sign up to find great matches
</p>
<p class="card-text">
<%= link_to 'Join now', signup_path,  { class: 'btn btn-secondary'} %>
</p>
</div>
