<% provide(:title, 'Signup') %>
<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h1 class="text-xs-center text-primary m-t-2 m-b-3">Join Roozam today.</h1>
      <%= render partial: 'signup_form' %>
    </div>
  </div>
</section>
