<% provide(:title, 'Signup') %>
<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <h1 class="text-xs-center m-t-2 h2">Sign up</h1>
      <p class="text-muted text-xs-center">
        <small>Signing up takes a minute and is totally free.</small>
      </p>
      <hr>
      <%= render partial: 'signup_form' %>
      <hr>
      <p class="text-xs-center text-muted">
        Already have an account? <%= link_to('Log in', signup_path) %>
      </p>
    </div>
  </div>
</section>
