<footer id="page-footer" class="container">
  <div class="row">
    <div class="col-8">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/about"><small>About</small></a></li>
        <li class="list-inline-item"><a href="/terms"><small>Terms</small></a></li>
        <li class="list-inline-item"><a href="/privacy"><small>Privacy</small></a></li>
      </ul>
    </div>
    <div class="col-4 text-right">
      <small>&copy; 2016 Roozam</small>
    </div>
  </div>
</footer>
