  <section class="container" style="border-top:1px solid #eee">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/terms">Terms</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
          </ul>
        </p>
      </div>
    </div>
  </section>
