<section class="footer">
  <footer class="container pt-4" style="border-top: 1px solid #f0f0f0;">
    <div class="row">
      <div class="col-8">
        <a href="/about" class="mr-3"><small>About</small></a>
        <a href="/terms" class="mr-3"><small>Terms</small></a>
        <a href="/privacy"><small>Privacy</small></a>
        </ul>
      </div>
      <div class="col-4 text-right">
        <small>&copy; 2016 Roozam</small>
      </div>
    </div>
  </footer>
</section>
