<nav class="navbar navbar-full navbar-light" style="background-color:#fff">
  <div class="container">
    <h1 class="brand"><a class="navbar-brand" href="/">Roozam</a></h1>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <%= link_to 'Log in / Sign up', login_path, { class: 'nav-link', data: { toggle: 'modal', target: '#login-modal' } } %>
      </li>
    </ul>
  </div>
</nav>
