<nav class="navbar navbar-full navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">Roozam</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <%= link_to 'Log in', signup_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
