<% provide(:title, 'Find your match for free') %>
<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h1>Matchmaking made easy</h2>
          <p class="lead">
            Joonam is the best new way to find your partner. Signing up takes a minute and is totally free <sup>&#9829;</sup>
          </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>Get started now</h2>
      </div>
    </div>
  </div>
</section>
