<% provide(:title, 'Find your soul mate for free') %>
<div class="jumbotron jumbotron-fluid text-xs-center background-primary bg-primary">
  <div class="container">
    <h1>Joonam</h1>
    <h2 class="display-4">Find your soul mate for free</h2>
  </div>
</div>
