<div class="card card-block">
  <p class="card-title font-weight-bold">
    Update your description
  </p>
  <div class="row">
    <div class="col-lg-8">
      <%= render partial: 'profiles/about_form' %>
    </div>
  </div>
</div>
