<div class="card card-block card-no-border" style="border-bottom: 1px solid #eee;border-radius:0">
  <p class="card-title font-weight-bold">
    About me
  </p>
  <div class="row">
    <div class="col-lg-10">
      <%= render partial: 'profiles/about_form' %>
    </div>
  </div>
</div>
