<div class="card card-block card-no-border" style="border-bottom: 1px solid #eee;">
  <p class="card-title font-weight-bold">Details</p>
  <div class="row">
    <div class="col-lg-8">
      <%= form_for(current_user, url: me_path, remote: true) do |f| %>
      <div class="alert alert-danger edit_errors" style="display:none">
      </div>
      <div class="alert alert-success edit_success" style="display:none">
        Updated. Go to your <%= link_to 'profile', user_path(current_user) %>
      </div>
      <%= render partial: 'users/profile_details', locals: { f: f, show_label: true } %>
      <div class="form-group text-xs-right">
        <%= f.submit 'Update', { data: { disable_with: 'Updating' }, class: 'btn btn-primary' } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
