<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Account', account_settings_path, class: params[:action].eql?('account') ? 'nav-link active' : 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Edit profile', edit_profile_path, class: params[:action].eql?('edit') ? 'nav-link active' : 'nav-link' %>
  </li>
</ul>
