<div class="card card-block card-no-border">
  <p class="card-title font-weight-bold">Edit photo privacy</p>
  <div class="row">
    <div class="col-lg-10">
      <%= render partial: 'settings/privacy_form' %>
    </div>
  </div>
</div>
