<% if @user.preference.present? %>
  <h2 class="h4 mb-3">Who should contact me</h2>
  <div class="essay mb-5">
    <%= simple_format(@user.preference) %>
  </div>
<% else %>
  <% if @user.eql?(current_user) %>
    <div class="rounded text-muted mb-5" style="border: 2px dashed #ccc">
      <h2 class="h4 mt-3 ml-3">Who should contact me</h2>
      <p class="text-center text-muted p-5">
        Connect with the right people.<br>
        <%= link_to "What's your preference?", edit_profile_path, data: { toggle: 'modal', target: '#preference-modal' } %>
      </p>
    </div>
    <%= render partial: 'users/preference_modal' %>
  <% end %>
<% end %>
