<div class="jumbotron jumbotron-fluid py-3 bg-primary">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-3 text-center">
        <%= render partial: 'users/profile_banner/profile_picture' %>
      </div>

      <div class="col-md-5 text-center text-md-left py-3" style="color:#fff;">
        <p class="h3"><%= @user.username %></p>
      </div>

      <div class="col-md-4">
        <%= render partial: 'users/profile_banner/buttons' %>
      </div>

    </div>
  </div>
</div>
