<div class="modal fade" id="welcome-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <%= image_tag 'icons/themed/fireworks.svg', class: 'img-fluid', width: 100 %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="h2 my-4 text-seconday">Welcome to Spouzz</h1>
        <p class="text-secondary">Thanks for signing up! You've joined a vibrant community of Indians just like you who are looking for a partner.</p>
        <p class="text-secondary">Let's get started by adding a profile picture and a brief description.</p>
        <p class="font-weight-bold">Ready?</p>
        <p>
          <%= link_to "Lets go!", '', class: "btn btn-primary", data: {dismiss: "modal"} %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= content_for(:javascripts) do %>
<script type="text/javascript">
$("#welcome-modal").modal({
  backdrop: 'static',
  keyboard: false
});
</script>
<% end %>
