$('[type="checkbox"][data-toggle="languages"]').change(function (e) {
  if ($(this).is(":checked")) {
    $('[type="checkbox"][name="languages[]"]').
    prop('checked', false);
  }
});

$('[type="checkbox"][name="languages[]"]').change(function (e) {
  if ($(this).is(":checked")) {
    $('[type="checkbox"][data-toggle="languages"]').prop('checked', false);
  }
});



$('[type="checkbox"][data-toggle="sects"]').change(function (e) {
  if ($(this).is(":checked")) {
    $('[type="checkbox"][name="sects[]"]').
    prop('checked', false);
  }
});

$('[type="checkbox"][name="sects[]"]').change(function (e) {
  if ($(this).is(":checked")) {
    $('[type="checkbox"][data-toggle="sects"]').prop('checked', false);
  }
});


$('[type="checkbox"][data-toggle="countries"]').change(function (e) {
  if ($(this).is(":checked")) {
    $('[type="checkbox"][name="countries[]"]').
    prop('checked', false);
  }
});

$('[type="checkbox"][name="countries[]"]').change(function (e) {
  if ($(this).is(":checked")) {
    $('[type="checkbox"][data-toggle="countries"]').prop('checked', false);
  }
});

$('select#religion').change(function (e) {
  var religion = $(this).val();
  if (religion === 'hindu') {
    $('#caste-search-container').slideDown();
    $('[name="sects[]"]').prop('disabled', false);
  } else {
    $('#caste-search-container').slideUp();
    $('[name="sects[]"]').prop('disabled', true);
  }
});

(function () {
  var stockPhotos = {
    "male": "<%= asset_path('profile_pictures/male.png') %>",
    "female": "<%= asset_path('profile_pictures/female.png') %>"
  };
  var $searchForm     = $('#search-panel'),
      $searchResults  = $('#search-results'),
      likers          = $searchForm.data('likerIds'),
      isLoggedIn      = $searchForm.data('loggedIn');

  var pictureForUser = function (user) {
    if (user.visibility === 'everyone') {
      return user.picture;
    } else if (user.visibility === 'members_only') {
      if (isLoggedIn) {
        return user.picture;
      } else {
        return (user.gender === 'm') ? stockPhotos.male : stockPhotos.female;
      }
    } else {
      if (likers.indexOf(user.id) !== -1) {
        return user.picture;
      } else {
        return (user.gender === 'm') ? stockPhotos.male : stockPhotos.female;
      }
    }
  };

  var renderUserCard = function (user) {
    var $cardContainer   = $('<div class="col-md-4 col-sm-6 col-6 user-card-container mb-5"></div>'),
        $userCard = $('<a href="users/' + user.id + '" class="card user-card"><img class="card-img-top w-100" src="' + pictureForUser(user) + '" /><div class="card-body"><p class="h5 card-title">' + user.username + '</p><p class="card-text"><div>' + user.age + ' • ' + user.religion + '</div><div class="country-name">' + user.country + '</div></p></div></a>');
    $cardContainer.append($userCard).appendTo($searchResults);
  };

  $searchForm.on('ajax:before', function () {
    $searchForm.collapse('hide');
    if (window.isStorageSupported) {
      var searchParams  = $searchForm.serializeArray(),
          searchObject  = {
            gender: null,
            religion: null,
            minHeight: null,
            maxHeight: null,
            minAge: null,
            maxAge: null,
            sects: [],
            languages: [],
            countries: []
          };

      for (var i  = 0; i < searchParams.length; i++) {
        switch (searchParams[i].name) {
          case "gender":
            searchObject.gender = searchParams[i].value;
            break;
          case "min_age":
            searchObject.minAge = searchParams[i].value;
            break;
          case "max_age":
            searchObject.maxAge = searchParams[i].value;
            break;
          case "min_height":
            searchObject.minHeight = searchParams[i].value;
            break;
          case "max_height":
            searchObject.maxHeight = searchParams[i].value;
            break;
          case "religion":
            searchObject.religion = searchParams[i].value;
            break;
          case "sects[]":
            if (searchObject.religion === 'hindu') {
              searchObject.sects.push(searchParams[i].value);
            }
            break;
          case "languages[]":
            searchObject.languages.push(searchParams[i].value);
            break;
          case "countries[]":
            searchObject.countries.push(searchParams[i].value);
            break;
          default:

        }
      }
      localStorage.setItem('searchObject', JSON.stringify(searchObject));
    }
  }).on('ajax:success', function (e, data, status, xhr) {
    $searchResults.empty();
    var users = $.parseJSON(data);
    if (users.length === 0) {
      $searchResults.html('<div class="rounded p-5 text-center text-muted mb-5 mx-2" style="border: 2px dashed #ccc">\
        <p class="m-lg-5 m-2">We couldn\'t find any matches. We\'re adding more profiles every day. Come back later and try again</p>\
      </div>');
    } else {
      for(var i = 0; i < users.length; i++) {
        renderUserCard(users[i]);
      }
    }

  });


  // restore previous user query if localStorage is supported.
  if (window.isStorageSupported && localStorage.getItem('searchObject') !== null) {
    var searchObject = JSON.parse(localStorage.getItem('searchObject'));

    $searchForm.find('[name="gender"]').val(searchObject.gender);
    $searchForm.find('[name="min_age"]').val(searchObject.minAge);
    $searchForm.find('[name="max_age"]').val(searchObject.maxAge);
    $searchForm.find('[name="min_height"]').val(searchObject.minHeight);
    $searchForm.find('[name="max_height"]').val(searchObject.maxHeight);
    $searchForm.find('[name="religion"]').val(searchObject.religion);

    var $sects = $('[name="sects[]"]');
    if (searchObject.religion === 'hindu') {
      $('#caste-search-container').show();
      $sects.prop('disabled', false);
      if ($sects.length > 1) {
        // checkboxes
        for (var i = 0; i < $sects.length; i++) {
          if (searchObject.sects.indexOf($sects.get(i).value) !== -1) {
            $($sects.get(i)).prop('checked', true);
          }
        }
      } else {
        // multiselect
        $sects.val(searchObject.sects);
      }
    }

    var $languages = $searchForm.find('[name="languages[]"]');
    if ($languages.length > 1) {
      // checkboxes
      for (var i = 0; i < $languages.length; i++) {
        if (searchObject.languages.indexOf($languages.get(i).value) !== -1) {
          $($languages.get(i)).prop('checked', true);
        }
      }
    } else {
      // multiselect
      $languages.val(searchObject.languages);
    }

    var $countries = $searchForm.find('[name="countries[]"]');
    if ($countries.length > 1) {
      // checkboxes
      for (var i = 0; i < $countries.length; i++) {
        if (searchObject.countries.indexOf($countries.get(i).value) !== -1) {
          $($countries.get(i)).prop('checked', true);
        }
      }
    } else {
      // multiselect
      $countries.val(searchObject.countries);
    }
  }

})();
