<div class="media align-items-center">
  <%= image_tag display_picture_for(current_user), { class: 'rounded-circle mr-3', style: 'height: 7.5rem' } %>
  <div class="media-body">
    <p><%= button_tag 'Change', class: 'btn btn-sm btn-outline-secondary', data: { component: "avatar-uploader" } %></p>
  </div>
</div>
