<div class="col-md-4">
  <div class="card photo-card">
    <%= image_tag(photo.image.url(:thumb), class: 'card-img-top img-fluid w-100', data: { toggle: 'swipebox', rank: photo.rank } ) %>
    <div class="card-block">
      <p class="card-text text-xs-center" style="min-height: 50px;">
        <% unless photo.rank.eql?(1) %>
          <%= link_to make_profile_photo_photo_path(photo), class: 'card-link', method: :patch do %>
            <%= image_tag 'portrait.svg', width: 48, data: { toggle: "tooltip", title: "Make profile photo", placement: "bottom" } %>
          <% end %>
        <% end %>
        <%= link_to 'Delete', photo_path(photo), class: 'btn btn-secondary', method: :delete, data: { disable_with: 'Deleting…' } %>
      </p>
    </div>
  </div>
</div>
