<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <%= image_tag(photo.image.url(:thumb), class: 'img-fluid d-inline photo-thumbnail p-a-1', data: { toggle: 'swipebox', rank: photo.rank } ) %>
    </div>
    <div class="col-xs-12 text-xs-center m-y-1">
      <% if photo.rank == 1 %>
        <span class="text-success p-a-1" style="border:0;">&#x2714; Your profile photo</span>
      <% else %>
        <%= link_to 'Make profile photo', make_profile_photo_photo_path(photo), class: 'btn btn-outline-success', method: :patch %>
      <% end %>
      <%= link_to 'Delete', photo_path(photo), class: 'btn btn-outline-danger', method: :delete %>
    </div>
  </div>
</div>
