<% provide(:title, 'Welcome!') %>
<style media="screen">
  body {
    background-color: #01579B;
    background-image: -webkit-linear-gradient(top,#1a62a7,#1a9ce6);
    background-image:linear-gradient(to bottom,#1a62a7,#1a9ce6);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a62a7', endColorstr='#1a9ce6', GradientType=0 );
    color: #FFF;
  }
  p {
    font-size: 21px;
  }
</style>
<section class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <%= image_tag 'fireworks.svg', class: "img-fluid mx-auto d-block", style: 'max-width: 150px' %>
      <h1 class="text-center h2 my-4">Welcome to Spouzz</h1>
      <p>Thanks for signing up! You've joined a vibrant community of Indians just like you who are looking for a partner.</p>
      <p>Let's get started by adding some photos and a brief description. </p>
      <h2 class="h3 text-center my-4">Ready?</h2>
      <p class="text-center mt-4">
      <%= link_to 'Yes! Set up my profile', user_path(current_user), class: 'btn btn-warning btn-lg' %>
      </p>
    </div>
  </div>
</section>
