/*
= require sprockets-octicons
*/
@import "bootstrap-variables";
@import "bootstrap";
@import "static_pages";
@import "onboarding";
@import "users";

.navbar-light {
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

h1, h2, h3, h4, h5, h6 {
  &.brand {
    font-family: 'Bad Script', cursive;
    a {
      text-decoration: none;
    }
  }
}
