@import "bootstrap-variables";
@import "bootstrap";
@import "animation";
@import "photo_gallery";
@import "static_pages";
@import "onboarding";
@import "users";
@import "profile";
@import "snackbar";
@import "messages";
@import "likes";
@import "nav";
@import "swipebox";
@import "search";

body {
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-down(md) {
  html {
    font-size: 0.875rem;
  }
}

.primary-breadcrumb-container {
  .breadcrumb {
    background: transparent;
  }
  .breadcrumb-item {
    color: $white;
    a {
      color: $white;
      font-weight: 600;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: #FFF;
  }
}

.btn-pink {
  @include button-variant($pink, $pink);
}

.btn-outline-pink {
  @include button-outline-variant($pink);
}
