a.message-card {
  color: $gray-dark;
  text-decoration: none;
  &.unread {
    font-weight: bold;
    small.message-body {
      font-weight: bold;
    }
  }
  .username {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    overflow: hidden;
  }
  &:hover {
    background-color: #E3F2FD;
  }
}
