#photo-upload-file {
  width: 100%;
  .custom-file-control:lang(en)::after {
    content: "Choose photo..."
  }
  .custom-file-control::before {
    background-color: $brand-primary;
    color: #fff;
    border-color: $brand-primary;
  }
}

#photo-crop-modal {
  .modal-lg {
    width: 900px;
    max-width: 900px;
    .modal-body {
      padding: 0;
      background-color: #f6fbff;

      .jcrop-vline, .jcrop-hline {
        border: 0;
      }
      .jcrop-handle {
        background-color: #fff;
        border: 1px #EEE solid;
        font-size: 35px;
        height: 10px;
        width: 10px;
        border-radius: 10px;
      }
    }
    .modal-header {
      border: 0;
    }
    .modal-footer {
      border: 0;
    }
    .jcrop-holder {
      margin: 0 auto;
    }
  }
}
