<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Details', details_profile_path, class: params[:action].eql?('details') ? 'nav-link active' : 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Essays', essays_profile_path, class: params[:action].eql?('essays') ? 'nav-link active' : 'nav-link' %>
  </li>
</ul>
