<div class="card card-block card-no-border" style="border-radius:0;">
  <p class="card-title font-weight-bold">
    Who should contact you?
  </p>
  <div class="row">
    <div class="col-lg-10">
      <%= render partial: 'profile/preference_form' %>
    </div>
  </div>
</div>
